/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: relative;
  background-color: #87ceeb; /* Fondo azul del cielo */
}

/* Estilos para el contenido */
#content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none;
  z-index: 10;
  color: white;
}

#portfolio-title {
  font-size: 3rem;
  margin-top: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.project-btn {
  background-color: rgba(0, 0, 255, 0.7);
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.project-btn:hover {
  background-color: rgba(0, 0, 255, 1);
  transform: scale(1.1);
}
